.news__sourse{
    background-color: #313538;
    color: #0958d9;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 0.4rem;
    padding: 0.4rem 0.1rem;
    width: 10rem;
    margin-top: 0.5rem;
}

.sourse__link{
    width: 100%;
}
